article {
    padding-top: 12px;
    padding-left: 16px;
}

.post h2 a {
    color: black;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.page-header {
    background-color: darkorange;
    padding: 16px;
    margin-bottom: 16px;
}

.page-header h1 a, .page-header h1 a {
    color: white;
}

.date {
    color: #828282;
}
